
.DS_Store

COMP352_a4.iml

doc/AList.html

doc/allclasses-frame.html

doc/allclasses-noframe.html

doc/AVLTree.html

doc/constant-values.html

doc/deprecated-list.html

doc/help-doc.html

doc/index-files/index-1.html

doc/index-files/index-10.html

doc/index-files/index-11.html

doc/index-files/index-12.html

doc/index-files/index-13.html

doc/index-files/index-2.html

doc/index-files/index-3.html

doc/index-files/index-4.html

doc/index-files/index-5.html

doc/index-files/index-6.html

doc/index-files/index-7.html

doc/index-files/index-8.html

doc/index-files/index-9.html

doc/index.html

doc/IntelligentSIDC.html

doc/Main.html

doc/overview-tree.html

doc/package-frame.html

doc/package-list

doc/package-summary.html

doc/package-tree.html

doc/script.js

doc/SortedSequence.html

doc/Student.html

doc/stylesheet.css

out/production/COMP352_a4/AList.class

out/production/COMP352_a4/AVLTree.class

out/production/COMP352_a4/AVLTree$Node.class

out/production/COMP352_a4/Benchmark/CSTA_test_file1.txt

out/production/COMP352_a4/Benchmark/CSTA_test_file2.txt

out/production/COMP352_a4/Benchmark/CSTA_test_file3.txt

out/production/COMP352_a4/IntelligentSIDC.class

out/production/COMP352_a4/Main.class

out/production/COMP352_a4/SortedSequence.class

out/production/COMP352_a4/Student.class
